<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }
        h1 {
            color: #4695EB;
            font-size: 6vw;
        }

        h1 b {
            color: #be9100;
        }

        p {
            font-size: 2vw;
        }
    </style>
</head>
<body>
<h1>Hello <b>{name ?: "Qute"}</b></h1>
<form action="/some-page" method="post">
<label >valor 1</label>
<input name="valor1">
<label >valor 2</label>
<input name="valor2">
<br>
<br>
<select name="operacoes" id="operacoes">
    <option>Soma</option>
    <option>Sub</option>
    <option>Div</option>
    <option>mult</option>
</select>
<br>
<br>
<button>Calcular</button>
</form>
</body>
</html
