<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello {name ?: "Qute"}</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }
        h1 {
            color: #4695EB;
            font-size: 6vw;
        }

        h1 b {
            color: #be9100;
        }

        p {
            font-size: 2vw;
        }
    </style>
</head>
<body>
<h1>Hello <b>{name ?: "Qute"}</b></h1>

<form action="/some-page" method="post">

    <input type="number" name="valor1">

    <input type="number" name="valor2">

    <select name="select" id="" name="select">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">x</option>
        <option value="/">/</option>
    </select>

    <button>Calcular</button>
</form>

<p>Create your web page using Quarkus RESTEasy & Qute</p>
</body>
</html>
