<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <style>
       
    </style>
</head>
<body>

   <h1>Calculadora</h1>
    
    <form action="/some-page" method="POST">
        <label for="val1">Valor 1:</label>
        <input type="number" name="val1" required>
        <br>
        
        <label for="val2">Valor 2:</label>
        <input type="number" name="val2" required>
        <br>
        
        <label for="operation">Operação:</label>
        <select name="operation" required>
            <option value="soma">Adicionar</option>
            <option value="subtract">Subtrair</option>
            <option value="multiply">Multiplicar</option>
            <option value="divide">Dividir</option>
        </select>
        <br>
        
        <input type="submit" value="Calcular">
    </form>
    
    

</body>
</html>
