<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
</head>

<style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #007bff;
            margin-top: 100px;
            font-size: 36px;
        }
    </style>
<body>
<h1>Resultado = {resultado}</h1>
</body>
</html>